@{
    ViewData["Title"] = "Adresy";
}

<div class="row" style="margin-top: 40px">
    <a href="/Home/Add" class="btn btn-default">Dodaj adres</a>
</div>
<div class="row" style="margin-top: 40px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Miasto</th>
                <th>Kraj</th>
                <th>Telefon</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: addressesList">
            <tr>
                <td data-bind="text: firstName">Imię</td>
                <td data-bind="text: lastName">Nazwisko</td>
                <td data-bind="text: city">Miasto</td>
                <td data-bind="text: country">Kraj</td>
                <td data-bind="text: phone">Telefon</td>
                <td data-bind="text: email">E-mail</td>
            </tr>
        </tbody>
    </table>
    
</div>
<script src="~/js/tasks.js"></script>